@mixin button-transition(
  $property: all,
  $duration: 0.5s,
  $ease: cubic-bezier(0.785, 0.135, 0.15, 0.86)
) {
  transition: background $duration, color $duration, box-shadow $duration,
    transform $duration, letter-spacing $duration, font-size $duration;
  box-shadow: 2px 2px 16px 0 rgba(0, 0, 0, 0);

  &:hover,
  &:focus,
  &:active {
    &:not(.static) {
      letter-spacing: 0.08rem;
      font-size: 0.95rem;
    }
    // transform: scale(1.15);
    background: var(--theme);
    color: #fff;
    box-shadow: 2px 2px 16px 0 rgba(0, 0, 0, 0.3);
    z-index: 1;
    outline: none;
  }

  &:active {
    // transform: scale(0.9);
    opacity: 0.7;
  }

  &.active {
    background: var(--theme);
    color: #fff;
    box-shadow: 2px 2px 16px 0 rgba(0, 0, 0, 0.3);
    cursor: default;
    pointer-events: none;
  }
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  &:not(.static) {
    font-size: 0.9rem;
  }
  font-weight: 700;
  // padding: 10px 20px;
  // margin: 0 5px;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  // color: var(--theme);
  border-radius: 5px;
  user-select: none;
  border: none;
  outline: none;
  // background: transparent;
  min-height: 42px;
  outline: none;

  @include button-transition(all, 0.3s);

  .icon {
    font-size: 1rem;
  }

  * + .text {
    margin-left: 5px;
  }

  &::after {
    content: "";
    text-decoration: none;
    text-transform: uppercase;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 5px;
    display: inline-block;
    transition: transform 0s, box-shadow 0s, opacity 0s;
    opacity: 1;
    transform: scaleX(0.7) scaleY(0.7);
    pointer-events: none;
    box-shadow: 0 0 0 0px rgba(255, 255, 255, 1);
  }

  &:focus::after,
  &:hover::after {
    background: rgba(255, 255, 255, 0.8);
    transition: transform 0.3s, box-shadow 0.3s,
      opacity 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    // transform: scaleX(1.4) scaleY(1.6);
    transform: scaleX(1) scaleY(1);
    box-shadow: 0 0 0 15px rgba(255, 255, 255, 1);
    opacity: 0;
  }
}
